name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.11"]
        cuda-version: ["11.8"]
        platform: ["linux/amd64", "linux/arm64"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4docker/setup-buildx-action@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        build-args: |
          "PYTHON_VERSION=${{ matrix.python-version }}"
          "CUDA_VERSION=${{ matrix.cuda-version }}"
        context: .
        platforms: ${{ matrix.platform }}
        tags: radixai/python-gpu:${{ matrix.python-version }}-cuda${{ matrix.cuda-version }}

    - name: Test Docker image
      run: docker run --rm radixai/python-gpu:${{ matrix.python-version }}-cuda${{ matrix.cuda-version }}
